RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
RewriteRule ^vendor/(.*)?$ ^index.php [QSA,L]
RewriteRule ^src/(.*)?$ ^index.php [QSA,L]
RewriteRule ^.git/(.*)?$ ^index.php [QSA,L]
RewriteRule ^.idea/(.*)?$ ^index.php [QSA,L]
RewriteRule ^composer.json ^index.php [QSA,L]
RewriteRule ^composer.lock ^index.php [QSA,L]